#appBar {
	-fx-background-color: #000000;
}

#menu {
	-fx-background-color: #005ce6;
}

#item:hover {
	-fx-background-color: #0084ff;
	-fx-border-width: 0 0 0 5;
	-fx-border-color: #4dd2ff;
}

#item:pressed {
	-fx-background-color: #005cb3;
	-fx-border-width: 0 0 0 5;
	-fx-border-color: #4dd2ff;
}

#exit:hover {
	-fx-background-color: #d14747;
	-fx-border-width: 0 0 0 5;
	-fx-border-color: #ff3333;
}

#exit:pressed {
	-fx-background-color: #8a2828;
	-fx-border-width: 0 0 0 5;
	-fx-border-color: #ff3333;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-column {
	-fx-border-color: grey;
    -fx-border-width: 0.5;
    -fx-font-size: 15;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, white;
}

.table-row-cell:selected {
    -fx-background-color: #d9d9d9;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}