.text-field {
    -fx-background-radius: 5;
}

.label {
    -fx-text-fill: white;
}

#root {
    -fx-background-color: #0074b3;
}

.button {
    -fx-background-radius: 12;
    -fx-background-color: #4cb5e5;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #429fcb;
}

.button:pressed {
    -fx-background-color: #245b7b;
}